$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$gray: #999;

.wrapper {
  border: 1px solid $black;
  font-weight: bold;
  max-width: 600px;
  padding: 15px;
}

.board {
  background-color: $gray;
  border: 1px solid $black;
}

.first-player,
.second-player {
  font-size: 22px;
}

.row,
.col-md-4 {
  height: 150px;
}

.b-right {
  border-right: 3px solid $black;
}

.b-left {
  border-left: 3px solid $black;
}

.b-top {
  border-top: 3px solid $black;
}

.b-btm {
  border-bottom: 3px solid $black;
}

.b-mid {
  border: 3px solid $black;
}
