$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$red: rgb(255, 0, 0);
$green: rgb(0, 255, 0);
$blue: rgb(0, 0, 255);

#change-password-shell,
#sign-out-shell {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  max-width: 600px;
  padding: 15px;
}

.row {
  display: flex;
  font-size: 100px;
}

.box {
  align-items: center;
  border: 1px solid $black;
  color: $font-color;
  display: flex;
  flex: 1;
  justify-content: center;

  &::after {
    content: '';
    padding-bottom: 100%;
  }
}

.r {
  background-color: $red;

  &:hover {
    background-color: $blue;
  }
}

.g {
  background-color: $green;

  &:hover {
    background-color: $grey;
  }
}

.b {
  background-color: $blue;

  &:hover {
    background-color: $red;
  }
}
